.swiper-slide {
  display: flex;
  justify-content: center;
}

.tab-link.active {
  background-color: #1d4ed8; /* Active tab blue */
  color: white;
}

.tab-content {
  transition: opacity 0.3s ease-in-out;
}

.tab-content.hidden {
  display: none;
}
