---
interface Props {
  items: {
    text: string;
    href: string;
  }[];
}

const { items } = Astro.props;
---

<nav class="flex mb-8" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    {items.map((item, index) => (
      <li class="inline-flex items-center">
        {index > 0 && <span class="mx-2 text-gray-400">/</span>}
        <a
          href={item.href}
          class="text-sm font-medium text-gray-700 hover:text-primary dark:text-gray-400 dark:hover:text-white"
        >
          {item.text}
        </a>
      </li>
    ))}
  </ol>
</nav>