---
import { supportedLanguages } from '../../i18n/config';
import { useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return Object.keys(supportedLanguages).map(lang => ({
    params: { lang }
  }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof supportedLanguages);
---
<Layout title="Works | VebLabs">
  <main>
    <h1>Our Works</h1>
    <!-- Your works page content here -->
  </main>
</Layout>
